@import "tailwindcss";

@theme {
  --color-base: var(--base);
  --color-surface: var(--surface);
  --color-overlay: var(--overlay);
  
  --color-text: var(--text);
  --color-subtle: var(--subtle);
  --color-muted: var(--muted);
  
  --color-iris: var(--iris);
  --color-pine: var(--pine);
  --color-foam: var(--foam);
  --color-gold: var(--gold);
  --color-love: var(--love);
  --color-rose: var(--rose);
}

:root {
  /* Light Theme */
  
  --base: #faf4ed;
  --surface: #fffaf3;
  --overlay: #f2e9e1;
  --muted: #9893a5;
  --subtle: #797593;
  --text: #575279;
  --love: #b4637a;
  --gold: #ea9d34;
  --rose: #d7827e;
  --pine: #286983;
  --foam: #56949f;
  --iris: #907aa9;
}

.dark {
  /* Dark Theme */
  --base: #232136;
  --surface: #2a273f;
  --overlay: #393552;
  --muted: #6e6a86;
  --subtle: #908caa;
  --text: #e0def4;
  --love: #eb6f92;
  --gold: #f6c177;
  --rose: #ea9a97;
  --pine: #3e8fb0;
  --foam: #9ccfd8;
  --iris: #c4a7e7;
}